/* Estilos del pagecontent */
.title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 900;
    margin: 3vh 0;
}
.section{
    width: 100%;
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vh;
}
.paragraph, .image{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.paragraph > p{
    display: block;
    width: 100%;
    text-align: justify;
    margin-bottom: 2vh;
}
.image > img{
    width: 90%;
    max-width: 350px;
}
.card{
    width: 200px;
    height: 350px;
    margin: 2vh;
    overflow: hidden;
}
.card > img{
    width: 200px;
    margin-bottom: 1vh;
}
.card > .name{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient(to right, #FF6920 0%, #FF6A88 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.card > .jobTitle{
    display: block;
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    padding: 1vh 0;
}
.card > .description{    
    display: block;
    width: 100%;
    font-size: .8rem;
    padding: 1vh 0;
}

/* Responsive */
@media (max-width: 620px) {    
    body > div.base > main > div:nth-child(2){
        flex-direction: column-reverse;
    }
}
