/* Estilos del pagecontent */
.title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 900;
    margin: 3vh 0 5vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 30px;
    overflow-x: scroll;
    scroll-snap-type: both;
}
.container::-webkit-scrollbar{
    display: none;
}
.container > img{
    width: 230px;
    margin: 0 15px;
    scroll-snap-align: center;
}
.titleInfo{
    display: block;
    width: 100%;
    max-width: 550px;
    margin: 0 auto 2vh;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
    background: linear-gradient(to right, #FF6920 0%, #FF6A88 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.info{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
#btnStart{
    display: block;
    margin: 7vh auto;
}

/* Responsive */
@media (max-width: 780px) {    
    .container{
        justify-content: left;
    }
}